.tituloGimnasio {
    border-left: 1px solid white ;
  }

  .menuOpciones {
    justify-content: right;
    margin-right: 150px;
    padding: 10px;
  }

  .navbar-expand-sm .navbar-nav .dropdown-menu {
    justify-content: right;
  }

  .curso_titulo {
    border-bottom: 1px solid black;
    padding-bottom: 50px;
  }

  .card {
    border: 5px solid var(--bs-card-border-color);
  }

  .imagenes-ScrollSection {
    border-top: 2px solid white;
    padding-top: 50px;
  }

  .nav-link:hover {
    color: gold;
  }
